.navbar {
    margin-bottom: 5px;
    display: none;
}

div {
  position:fixed;
  
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}  