<!--The content below is only a placeholder and can be replaced.-->
<div class="progress-bars">
    <ng-progress [positionUsing]="'translate3d'" [minimum]="0.15" [maximum]="1" [speed]="'200'" [showSpinner]="'true'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="350" [thick]="true" [ease]="'linear'"></ng-progress>
</div>
<nav id="myNavbar" class="navbar navbar-default navbar-primary" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['']"><img class="logo" src="../../../img/logo-wt-bl.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav" *ngIf="isUserHavingWriteAccess">-->
            <ul class="nav navbar-nav" *ngIf="true">
                <li><a [routerLink]="['']">Home</a></li>
                <li>
                    <a href="javascript:void();" data-toggle="dropdown" class="dropdown-toggle">Replenishment Planner<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['fulfillmentSiteAssignment']">Fullfillment Site Assignment</a></li>
                        <li><a [routerLink]="['routingrules']">Routing Rules</a></li>
                        <li><a [routerLink]="['demandsplit']">Demand Split Upload</a></li>
                        <li><a [routerLink]="['supplyPlanningFhc']">RP Supply Plan - FHC</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void();" data-toggle="dropdown" class="dropdown-toggle">GMP<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['SourcingRuleComponent']">Sourcing Rule</a></li>
                        <li><a [routerLink]="['multiTierBOM']">Multi Tier BOM</a></li>
                        <li><a [routerLink]="['l10ItemList']">L10 Item List</a></li>
                        <li><a [routerLink]="['commodityCodeList']">Commodity Code List</a></li>
                        <!--<li><a [routerLink]="['demandsplit']">Demand Split Upload</a></li>-->
                    </ul>
                </li>
                <li>
                    <a href="javascript:void();" data-toggle="dropdown" class="dropdown-toggle">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['maintenanceComponent']">User Maintenance</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <app-login></app-login>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="outer-outlet">
    <router-outlet></router-outlet>
</div>
