﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">L10PartList</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div class="container-fluid" *ngIf="isActiveScreen">
    <!-- Filter Section -->
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Search Section
                    </a>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="Getl10FilterViewResult($event)" [disabled]="IsFilterViewResultBtnDisable">Search</button>
                    <button name='btnreset' id='btnreset' [disabled]="IsFilterClearBtnDisable" class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>
                    <button id="exportButton" class="btn btn-default btn-mr pull-right btn-mr" (click)="onClickBtnExcelExport($event)">Export to Excel</button>
                </h5>
            </div>
            <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Item Id</label>
                            <div class="col-sm-6">
                                <input type="text" maxlength="5" name="item id" id="itemIdText" [(ngModel)]="itemIdInput" />
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Item Description</label>
                            <div class="col-sm-6">
                                <input type="text" name="item description" id="itemDescriptionText" [(ngModel)]="itemDescInput" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <img id="infoIcon" src="../../../img/icon_info.gif" title="" />
        <p>Excel Export will only export those mods that are marked as L10_MOD.</p>
        <!--<button id="saveButton" class="btn btn-default btn-mr pull-left btn-mr" (click)="onClickBtnSave($event)">Save</button>
        <button id="exportButton" class="btn btn-default btn-mr pull-left btn-mr" (click)="onClickBtnExcelExport($event)">Export to Excel</button>-->
        <br>
    </div>

    <!-- Grid Section -->
    <div class="panel-group" *ngIf="gridOn">
        <div class="panel panel-primary ">
            <div class="panel-heading " role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title ">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid4">View</a>
                    <!--<button name='btnresetName' id="btnResetName" class="btn btn-default btn-sm pull-right btn-mr " (click)="clearGridDataName($event)" [disabled]="!gridBtnClear ">Refresh</button>-->
                    <button *ngIf="isUserHavingWriteAccess" id="saveButton" class="btn btn-default btn-mr pull-right btn-mr" (click)="onClickBtnSave($event)">Save</button>
                </h5>
            </div>
            <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body clear-padding ">
                    <div id="grid ">
                        <ag-grid-angular #agGrid style="height: 405px; "
                                         (filterChanged)='OnFilterChangeName($event)'
                                         (selectionChanged)='onSelectionChanged($event)'
                                         [suppressRowClickSelection]="true "
                                         [headerHeight]="headerHeight"
                                         class="ag-theme-blue "
                                         [gridOptions]="gridOptionsName"
                                         [columnDefs]="columnDefs"
                                         (bodyScroll)="OnBodyScroll"
                                         [rowData]="rowDataName"
                                         (cellEditingStarted)='oncellEditingStarted($event)'
                                         [enableSorting]="true "
                                         [enableFilter]="false "
                                         [debug]="true "
                                         [context]="contextName"
                                         [enableCellChangeFlash]="true "
                                         [components]="components"
                                         [frameworkComponents]="frameworkComponentsName"
                                         [singleClickEdit]="true"
                                         [animateRows]="true"
                                         [rowSelection]="rowSelection "
                                         [enableColResize]="true "
                                         [paginationPageSize]="paginationPageSize "
                                         [floatingFilter]="true "
                                         [suppressCsvExport]="true "
                                         [pagination]="true " enableColResize
                                         enableSorting enableFilter rowHeight="22"
                                         rowSelection="multiple "
                                         (gridReady)="onGridReadyName($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="panel-group">
        <img id="infoIcon" src="../../../img/icon_info.gif" title="" />
        <p>Excel Export will only export those mods that are marked as L10_MOD.</p>-->
        <!--<button id="saveButton" class="btn btn-default btn-mr pull-left btn-mr" (click)="onClickBtnSave($event)">Save</button>
        <button id="exportButton" class="btn btn-default btn-mr pull-left btn-mr" (click)="onClickBtnExcelExport($event)">Export to Excel</button>-->
        <!--<br>
    </div>-->

    <!-- Error Grid Section -->
    <!--<div class="panel-group">
        <div class="panel panel-primary" *ngIf="isUserHavingWriteAccess">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseLTGrid2">Error Grid Section</a>
                    <button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr" (click)="btnerrExportExcel($event)" [disabled]="!griderrBtnExcelExport">Excel Export</button>
                </h5>
            </div>
            <div id="collapseLTGrid2" class="panel-collapse collapse">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 350px;" (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="errGridOptions" [columnDefs]="columnDefs"
                                         [headerHeight]="headerHeight" [rowData]="errRowData" (cellEditingStarted)='oncellEditingStarted($event)' [enableSorting]="true" [enableFilter]="false" [debug]="true" [getRowNodeId]="errgetRowNodeId" [enableCellChangeFlash]="true"
                                         [animateRows]="true" [rowSelection]="rowSelection" [enableColResize]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [suppressCsvExport]="true" [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22" rowSelection="multiple" (gridReady)="onGridReadyError($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>