﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li><a href="javascript:void(0)">FullFillmentSiteUI</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div class="container-fluid" #fakeClick>

    <span class="text-color-blue"><img src="../../../img/icon_information.gif" style="width:20px;height:20px;" /> Channel Members are at Segments, Geography Members at Country, Product Members at LOB and Family Parent.</span>
    <div class="panel panel-primary">

        <div class="panel-heading" role="tab" id="headingOne" role="tabpanel" aria-labelledby="headingOne">
            <h5 class="panel-title">
                <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapsedepot1" aria-expanded="false" aria-controls="collapsedepot1">
                    Search
                </a>
                <button name='btnFulfillmentSearch' id="btnFulfillmentSearch" class="btn btn-default btn-sm pull-right btn-mr" (click)="searchFullfillmentData('Search');">Search</button>
            </h5>
        </div>
        <div id="collapsedepot1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                <div class="col-md-12" style="min-height:50px;">
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Geography</b></div>
                        <div class="col-md-offset-3">
                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlGeogrphy" [(ngModel)]="selectedGeogrphy" [data]="geographyData" [settings]="geogrphyDropdownSettings" (onSelect)="onSelectGeogrphy($event)" (onDeSelect)="onDeSelectGeogrphy($event)"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isGeographyTree">
                                <button name='btnGeoTree' id="btnGeoTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getGeoTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            </div>
                        </div>
                        <div class="col-md-offset-3">
                            {{selectedGeogrphyTreeData_label}}
                        </div>
                        <div class="col-md-offset-3" [hidden]="isCountryDdlOpen">
                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect name="ddlCountry" [(ngModel)]="selectedCountry" [data]="countryData" [settings]="countryDropdownSettings"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" style="padding:0;">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Product/FHC/FGA</b></div>
                        <div class="col-md-offset-3">
                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlProduct" [(ngModel)]="selectedProduct" [data]="productData" [settings]="productDropdownSettings" (onSelect)="onSelectedProduct($event)" (onDeSelect)="onDeSelectedProduct($event)" ></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isProductTree">
                                <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getProductTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            </div>
                        </div>
                        <div class="col-md-offset-3">
                            {{selectedProductTreeData_label}}
                        </div>
                        <div class="col-md-offset-3">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Channel</b></div>
                        <div class="col-md-offset-3">
                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlChannel" [(ngModel)]="selectedChannel" [data]="channelData" [settings]="channelDropdownSettings" (onSelect)="onSelectChannel($event)" (onDeSelect)="onDeSelectChannel($event)"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isChannelTree">
                                <button name='btnChannelTree' id="btnChannelTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getChannelTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            </div>
                        </div>
                        <div class="col-md-offset-3">
                            {{selectedChennelTreeData_label}}
                        </div>
                        <div class="col-md-offset-3" [hidden]="isSegmentDdlOpen">
                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect name="ddlSegment" [(ngModel)]="selectedSegment" [data]="segmentData" [settings]="segmentDropdownSettings"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" style="padding:0;">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Supply Chain Type</b></div>
                        <div class="col-md-offset-3">

                            <div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlSupplyChainType" [(ngModel)]="selectedSupplyChainType" [data]="supplyChainTypeData" [settings]="supplyChainTypeDropdownSettings"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isChannelTree">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- update fulfillment start -->
    <div *ngIf="isUserHavingWriteAccess">
        <span class="text-color-blue"><img src="../../../img/icon_information.gif" style="width:20px;height:20px;" /> Please follow up usage of Add/Update, Update, Delete buttons with a click on Save Button.</span>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Create/Save
                    </a>
                    <button name='btnClear' id="btnClear" class="btn btn-default btn-sm pull-right btn-mr " (click)="FulfillmentClear_Edit($event)">Clear</button>
                    <button name='btnRetrive' id="btnRetrive" class="btn btn-default btn-sm pull-right btn-mr " (click)="FulfillmentRetrieve_Edit($event)" [disabled]="!btnRetrive_Edit">Retrieve</button>
                </h5>
            </div>
            <div id="collapseHirearchy2" [ngClass]="{'panel-collapse collapse': isCreateSaveCollapse }"  role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <!--Have to implement update controlls-->

                        <div class="col-md-12" style="min-height:70px;">
                            <div class="col-md-3">
                                <div class="col-md-offset-3"><b>Geography</b></div>
                                <div class="col-md-offset-3">
                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect style="padding:0px;" name="ddlGeogrphy_edit" [(ngModel)]="selectedGeogrphy_edit" [data]="geographyData_edit" [settings]="geogrphyDropdownSettings_edit" (onSelect)="onSelectGeogrphy_edit($event)" (onDeSelect)="onDeSelectGeogrphy_edit($event)" [ngClass]="{'disabled':  isddlGeography_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4" [hidden]="isGeographyTree_edit">
                                        <button name='btnGeoTree_edit' id="btnGeoTree_edit" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" [ngClass]="{'disabled':  isGeographyTreeDisable_edit}" (click)="getGeoTreeDetail_edit();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                                    </div>
                                </div>
                                <div class="col-md-offset-3">
                                    {{selectedGeogrphyTreeData_label_edit}}
                                </div>
                                <div class="col-md-offset-3" [hidden]="isCountryDdlOpen_edit">
                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect name="ddlCountry_edit" [(ngModel)]="selectedCountry_edit" [data]="countryData_edit" [settings]="countryDropdownSettings_edit" [ngClass]="{'disabled':  isddlCountry_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4" style="padding:0;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-offset-3"><b>Product/FHC/FGA</b></div>
                                <div class="col-md-offset-3">
                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect style="padding:0px;" name="ddlProduct_edit" [(ngModel)]="selectedProduct_edit" [data]="productData_edit" [settings]="productDropdownSettings_edit" (onSelect)="onSelectedProduct_edit($event)" (onDeSelect)="onDeSelectedProduct_edit($event)" [ngClass]="{'disabled':  isddlProduct_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4" [hidden]="isProductTree_edit">
                                        <button name='btnProductTree_edit' id="btnProductTree_edit" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" [ngClass]="{'disabled':  isProductTreeDisable_edit}" (click)="getProductTreeDetail_edit();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                                    </div>
                                </div>
                                <div class="col-md-offset-3">
                                    {{selectedProductTreeData_label_edit}}
                                </div>
                                <div class="col-md-offset-3">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-offset-3"><b>Channel</b></div>
                                <div class="col-md-offset-3">
                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect style="padding:0px;" name="ddlChannel_edit" [(ngModel)]="selectedChannel_edit" [data]="channelData_edit" [settings]="channelDropdownSettings_edit" (onSelect)="onSelectChannel_edit($event)" (onDeSelect)="onDeSelectChannel_edit($event)" [ngClass]="{'disabled':  isddlChannel_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4" [hidden]="isChannelTree_edit">
                                        <button name='btnChannelTree_edit' id="btnChannelTree_edit" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" [ngClass]="{'disabled':  isChannelTreeDisable_edit}" data-target="#fullfillmentModal" (click)="getChannelTreeDetail_edit();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                                    </div>
                                </div>
                                <div class="col-md-offset-3">
                                    {{selectedChennelTreeData_label_edit}}
                                </div>
                                <div class="col-md-offset-3" [hidden]="isSegmentDdlOpen_edit">
                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect name="ddlSegment_edit" [(ngModel)]="selectedSegment_edit" [data]="segmentData_edit" [settings]="segmentDropdownSettings_edit" [ngClass]="{'disabled':  isddlSegment_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4" style="padding:0;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-offset-3"><b>Supply Chain Type</b></div>
                                <div class="col-md-offset-3">

                                    <div class="col-md-8" style="padding:0;">
                                        <angular2-multiselect style="padding:0px;" name="ddlSupplyChainType_edit" [(ngModel)]="selectedSupplyChainType_edit" [data]="supplyChainTypeData_edit" [settings]="supplyChainTypeDropdownSettings_edit" [ngClass]="{'disabled':  isddlSupplychain_edit}"></angular2-multiselect>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divMainFulfillment" class="col-md-12" style="min-height:50px;" [hidden]="isMainFulfillment">

                            <div class="col-md-2">
                                <div class="col-md-offset-2"><b>Master List of All Sites</b></div>
                                <div class="col-md-offset-2">
                                    <angular2-multiselect style="padding:0px;" name="ddlMainListSites_edit" [(ngModel)]="selectedMainListSites_edit" [data]="mainListSitesData_edit" [settings]="mainListSitesDropdownSettings_edit" [ngClass]="{'disabled':  isddlMainSite_edit}"></angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-offset-2"><b>Split Percentage</b></div>
                                <div class="col-md-offset-2">
                                    <input type="text" [(ngModel)]="txtSplitPercentage" [disabled]="istxtSplit" (keyup)="NumericValidater($event)" />
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-left:0px;">
                                <div class="col-md-offset-3"><b>Effective Begin Date</b></div>
                                <div class="col-md-offset-3">
                                    <angular2-multiselect style="padding:0px;" name="ddlEffectiveBeginDate_edit" [(ngModel)]="selecteEffectiveBeginDate_edit" [data]="EffectiveBeginDateData_edit" [settings]="EffectiveBeginDateDropdownSettings_edit"></angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-offset-3"><b>Effective End Date</b></div>
                                <div class="col-md-offset-3">
                                    <angular2-multiselect style="padding:0px;" name="ddlEffectiveEndDate_edit" [(ngModel)]="selecteEffectiveEndDate_edit" [data]="EffectiveEndDateData_edit" [settings]="EffectiveEndDateDropdownSettings_edit"></angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-offset-2" style="padding-bottom:40px;">
                                    <button name='btnAddUpdate_edit' id="btnAddUpdate_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="AddUpdateRoutingRule_edit($event)">Add/Update</button>
                                </div>
                                <div class="col-md-offset-2">
                                    <button name='btnClear_edit' id="btnClear_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="ClearRoutingRule_edit($event)">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div id="divFulfillmentTempGrid" class="col-md-12" style="min-height:50px;" [hidden]="isFulfillmentTempGrid">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div id="grid1">
                                        <ag-grid-angular #agGrid style="height: 170px;"
                                                         (filterChanged)='OnFilterChangeName_split($event)'
                                                         (selectionChanged)='onSelectionChanged_split($event)'
                                                         [suppressRowClickSelection]="true "
                                                         [headerHeight]="headerHeight"
                                                         class="ag-theme-blue"
                                                         [gridOptions]="gridOptionsFulfillmentSplits"
                                                         [columnDefs]="columnDefs"
                                                         (bodyScroll)="OnBodyScroll"
                                                         [rowData]="rowData_split"
                                                         (cellEditingStarted)='oncellEditingStarted_split($event)'
                                                         [enableSorting]="true"
                                                         [enableFilter]="false"
                                                         [debug]="true"
                                                         [context]="contextName"
                                                         [enableCellChangeFlash]="true"
                                                         [components]="componentsName"
                                                         (gridReady)="onGridReadyFulfilmentSplit($event)"
                                                         [singleClickEdit]="true"
                                                         [animateRows]="true"
                                                         [rowSelection]="rowSelection_split"
                                                         [enableColResize]="true"
                                                         [paginationPageSize]="paginationPageSize"
                                                         [floatingFilter]="true"
                                                         [suppressCsvExport]="true"
                                                         [pagination]="true" enableColResize
                                                         enableSorting enableFilter rowHeight="22"
                                                         rowSelection="single">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                        <button name='btnSiteInfo_edit' id="btnSiteInfo_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:90px;font-size:11px;background-color:deepskyblue;" (click)="UpdateSiteInfo_edit($event)">Update Site Info</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button name='btnDeleteSite_edit' id="btnDeleteSite_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="DeleteSite_edit($event)">Delete Site</button>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>

                        <div id="divFulfillmentRuleGrid" class="col-md-12" style="min-height:50px;padding-top:30px;" [hidden]="isFulfillmentRuleGrid">

                            <div class="col-md-12">
                                <div id="grid1">
                                    <ag-grid-angular #agGrid style="height: 170px;"
                                                     (filterChanged)='OnFilterChangeName_rules($event)'
                                                     (selectionChanged)='onSelectionChanged_rules($event)'
                                                     [suppressRowClickSelection]="true "
                                                     [headerHeight]="headerHeight"
                                                     class="ag-theme-blue"
                                                     [gridOptions]="gridOptionsFulfillment_rules"
                                                     [columnDefs]="columnDefs"
                                                     (bodyScroll)="OnBodyScroll"
                                                     [rowData]="rowData_rule"
                                                     (cellEditingStarted)='oncellEditingStarted_rules($event)'
                                                     [enableSorting]="true"
                                                     [enableFilter]="false"
                                                     [debug]="true"
                                                     [context]="contextName"
                                                     [enableCellChangeFlash]="true"
                                                     [components]="componentsName"
                                                     (gridReady)="onGridReadyFulfilment_rules($event)"
                                                     [singleClickEdit]="true"
                                                     [animateRows]="true"
                                                     [rowSelection]="rowSelection_rules"
                                                     [enableColResize]="true"
                                                     [paginationPageSize]="paginationPageSize"
                                                     [floatingFilter]="true"
                                                     [suppressCsvExport]="true"
                                                     [pagination]="true" enableColResize
                                                     enableSorting enableFilter rowHeight="22"
                                                     rowSelection="single">
                                    </ag-grid-angular>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <div>Total : {{splitTotal}} </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <button name='btnSaveRule_edit' id="btnSaveRule_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="SaveRule_edit($event)">Save</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button name='btnClearRule_edit' id="btnClearRule_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="ClearRule_edit($event)">Clear</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button name='btnDeleteRule_edit' id="btnDeleteRule_edit" class="btn btn-default btn-sm pull-right btn-mr" style="height:20px;width:80px;font-size:11px;background-color:deepskyblue;" (click)="DeleteRule_edit($event)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- update fulfillment end -->
            <!-- view fulfillment -->
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
            <h5 class="panel-title">
                <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy3" aria-expanded="false" aria-controls="collapseHirearchy3">
                    View
                </a>
                <button *ngIf="isUserHavingWriteAccess" name='btnDelete' id="btnDelete" class="btn btn-default btn-sm pull-right btn-mr " (click)="FulfillmentDelete($event) " [disabled]="!gridBtnDelete">Delete</button>
                <button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr " (click)="FulfillmentExportExcel($event) " [disabled]="!gridBtnExcelExport">Export to Excel</button>
            </h5>
        </div>
        <div id="collapseHirearchy3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" data-ng-init="getFileNameList()">
            <div class="panel-body clear-padding">
                <div class="form-inline">
                    <div id="grid ">
                        <ag-grid-angular #agGrid style="height: 405px;"
                                         (filterChanged)='OnFilterChangeName($event)'
                                         (selectionChanged)='onSelectionChanged($event)'
                                         [suppressRowClickSelection]="true "
                                         [headerHeight]="headerHeight"
                                         class="ag-theme-blue"
                                         [gridOptions]="gridOptionsName"
                                         [columnDefs]="columnDefs"
                                         (bodyScroll)="OnBodyScroll"
                                         [rowData]="rowData"
                                         (cellEditingStarted)='oncellEditingStarted($event)'
                                         [enableSorting]="true"
                                         [enableFilter]="false"
                                         [debug]="true"
                                         [context]="contextName"
                                         [enableCellChangeFlash]="true"
                                         [components]="componentsName"
                                         [singleClickEdit]="true"
                                         [animateRows]="true"
                                         [rowSelection]="rowSelection"
                                         [enableColResize]="true"
                                         [paginationPageSize]="paginationPageSize"
                                         [floatingFilter]="true"
                                         [suppressCsvExport]="true"
                                         [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22"
                                         rowSelection="multiple">
                        </ag-grid-angular>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-tree-view [treeViewDetail]="treeViewDetailData" (selectedGeogrphyTreeDataChanged)="onselectedGeogrphyTreeDataChanged($event)" (selectedProductTreeDataChanged)="onselectedProductTreeDataChanged($event)" (selectedChennelTreeDataChanged)="onselectedChannelTreeDataChanged($event)" (selectedGeogrphyTreeDataChanged_edit)="onselectedGeogrphyTreeDataChanged_edit($event)" (selectedProductTreeDataChanged_edit)="onselectedProductTreeDataChanged_edit($event)" (selectedChennelTreeDataChanged_edit)="onselectedChannelTreeDataChanged_edit($event)"></app-tree-view>


