﻿@import '~angular-tree-component/dist/angular-tree-component.css'; 
.form-free-text {
    border-radius: 2px !important;
    border: 1px solid #cecece !important;
    padding: 3px !important;
}

.btn .btn-default .btn-secondary {
    display: none !important;
}

.fa .fa-times {
    display: none !important;
}

.input-group-append {
    display: none !important;
}

.text-color-blue {
    color: blue
}

/*.row .row-filter{
        width: 185px;
    padding-left: 10px;
}

div.dropdown-menu.show {
    width: 206px !important;
}*/















.node-content-wrapper, .tree-children {
    position: relative;
}

    .node-content-wrapper::before, .tree-children::after {
        content: "";
        position: absolute;
    }

    .node-content-wrapper::before {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        height: 28px;
        top: -17px;
        width: 20px;
        left: -28px;
    }

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
    display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
}

.tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
    border-left: none;
}

.toggle-children {
    z-index: 1;
}
