.wrapper {
    width: 100%;
    height: 100%;
}

.message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    bottom: 0;
    display: block;
    position: fixed;
    background-color: #0000003b;
    color: #fff;
    padding: 0.5em;
}

.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}