<img src="../../../img/bg.jpg" class="landing-img">
<div class="wrapper">
    <div class="message">
        <h1>Welcome to</h1>
        <h3>{{title}}</h3>
    </div>
</div>
<!--<img src="../../../img/banner1.jpg" alt="ASP.NET" class="img-responsive" />-->
