﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">CommodityCodeList</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div class="container-fluid" *ngIf="isActiveScreen">
    <!-- Filter Section -->
    <!-- Grid Section -->
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseDepotGrid4" aria-expanded="false" aria-controls="collapseDepotGrid4">
                        View
                    </a>
                    <button name='refreshButton' id="refreshButton" class="btn btn-default btn-sm pull-right btn-mr" (click)="onClickBtnRefresh($event)">Refresh</button>
                    <span *ngIf="isUserHavingWriteAccess">
                        <button  name='saveButton' id="saveButton" class="btn btn-default btn-sm pull-right btn-mr" (click)="onClickBtnSave($event)">Save</button>
                    </span>
                        <button name='exportButton' id="exportButton" class="btn btn-default btn-sm pull-right btn-mr" (click)="onClickBtnExcelExport($event)">Export to Excel</button>
                    <button name='smartExportButton' id="SmartexportButton" class="btn btn-default btn-sm pull-right btn-mr" (click)="onClickBtnSmartExcelExport($event)" [disabled]="!gridBtnExcelExportFilter">Smart Export to Excel</button>
                </h5>
            </div>
            
            <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 405px;"
                                         (filterChanged)='OnFilterChangeName($event)'
                                         (selectionChanged)='onSelectionChanged($event)'
                                         [suppressRowClickSelection]="true"
                                         [headerHeight]="headerHeight"
                                         class="ag-theme-blue"
                                         [gridOptions]="gridOptionsName"
                                         [columnDefs]="columnDefs"
                                         (bodyScroll)="OnBodyScroll"
                                         [rowData]="rowDataName"
                                         (cellEditingStarted)='oncellEditingStarted($event)'
                                         [enableSorting]="true"
                                         [enableFilter]="false"
                                         [debug]="true"
                                         [context]="contextName"
                                         [enableCellChangeFlash]="true"
                                         [components]="componentsName"
                                         [frameworkComponents]="frameworkComponentsName"
                                         [singleClickEdit]="true"
                                         [animateRows]="true"
                                         [rowSelection]="rowSelection"
                                         [enableColResize]="true"
                                         [paginationPageSize]="paginationPageSize"
                                         [floatingFilter]="true"
                                         [suppressCsvExport]="true"
                                         [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22"
                                         (gridReady)='onGridReadyName($event)'
                                         rowSelection="multiple">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>