﻿.form-free-text {
    border-radius: 2px !important;
    border: 1px solid #cecece !important;
    padding: 3px !important;
}

.btn .btn-default .btn-secondary {
    display: none !important;
}

.fa .fa-times {
    display: none !important;
}

.input-group-append {
    display: none !important;
}

table, th, td {
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}

th {
    font-weight: bold;
}