﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">Sourcing Rule</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong><div style="text-align: left;" [innerHTML]="successMsg"></div></strong>
    </div>
</div>
<div class="container-fluid" *ngIf="isActiveScreen">
    <!--Search Section-->
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Search Section
                    </a>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="ViewResult()" [ngClass]="{'disabled': selectedChannelGeo.length===0 || selectedGMPProductTreeData_label === ''}" >Search</button>
                    <!--<button name='btnreset' id='btnreset' [disabled]="!IsFilterClearBtnDisable" class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>-->
                </h5>
            </div>
            <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-5 form-label text-right">Channel-Geography</label>
                            <div class="col-sm-7">
                                <angular2-multiselect [data]="ChannelGeosData"
                                                      [(ngModel)]="selectedChannelGeo"
                                                      [settings]="ChannelGeoDropdownSettings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)">
                                </angular2-multiselect>
                            </div>
                            <!--<div class="col-sm-1">
                                <button name='btnGeoTree' id="btnGeoTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal"
                                        data-target="#fullfillmentModal" (click)="getChannelGeoTreeDetail();">
                                    <img src="../../../img/treeviewdetail.jpg"
                                         style="width:15px;height:20px;" />
                                </button>
                            </div>
                            <div class="col-sm-7">
                                {{selectedGMPChennelGeoTreeData_label}}
                            </div>-->
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-2 form-label text-right">Product: </label>
                            <div class="col-sm-2">
                                <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal"
                                        data-target="#fullfillmentModal" (click)="getProductTreeDetail();">
                                    <img src="../../../img/treeviewdetail.jpg"
                                         style="width:15px;height:20px;" />
                                </button>
                            </div>
                            <div class="col-sm-8">
                                {{selectedGMPProductTreeData_label}}
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-4">
                            <label class="col-sm-3 form-label text-right">Channel->Product:</label>
                            <div class="col-sm-9">
                                <angular2-multiselect [data]="ChannelProductsData"
                                                      [(ngModel)]="selectedChannelProducts"
                                                      [settings]="dropdownSettings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                      (onSelectAll)="onSelectAll($event)"
                                                      (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--create/update section-->
    <div class="panel-group" *ngIf="isUserHavingWriteAccess">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headerCreate" role="tabpanel" aria-labelledby="headerCreate">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy3" aria-expanded="false" aria-controls="collapseHirearchy3">
                        Create Section
                    </a>
                    <button name="btnCreateClear" id="btnCreateClear" class="btn btn-default btn-sm pull-right btn-mr" (click)="createClearClick()" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || rowDataCreate=== undefined ||rowDataCreate.length===0 || selectedGMPProductCreateTreeData_label === ''}" >Clear</button>
                    <button name="btnCreateSave" id="btnCreateSave" class="btn btn-default btn-sm pull-right btn-mr" *ngIf="isSaveVisible" (click)="SaveClick($event)" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || rowDataCreate === undefined ||rowDataCreate.length===0 || selectedGMPProductCreateTreeData_label === ''}" >Save</button>
                    <button name="btnAddMerging" id="btnAddMerging" class="btn btn-default btn-sm pull-right btn-mr" (click)="AddMergeing($event)" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || rowDataCreate ===undefined ||rowDataCreate.length===0|| selectedGMPProductCreateTreeData_label === ''}" >Add Merging </button>
                    <button name="btnAddBoxing" id="btnAddBoxing" class="btn btn-default btn-sm pull-right btn-mr" (click)="AddBoxing($event)" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || rowDataCreate ===undefined ||rowDataCreate.length===0|| selectedGMPProductCreateTreeData_label === ''}" >Add Boxing</button>
                    <button name="btnAddKitting" id="btnAddKitting" class="btn btn-default btn-sm pull-right btn-mr" (click)="AddKitting($event)" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || rowDataCreate === undefined ||rowDataCreate.length===0|| selectedGMPProductCreateTreeData_label === ''}" >Add Kitting</button>
                    <button name="btnCreateAddNewRule" id="btnCreateAddNewRule" class="btn btn-default btn-sm pull-right btn-mr" (click)="AddNewRule($event)" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || selectedGMPProductCreateTreeData_label === ''}" >Add Rule</button>
                    <button name="btnCreateRetrive" *ngIf=false id="btnCreateRetrive" class="btn btn-default btn-sm pull-right btn-mr" (click)="RetriveClick()" [ngClass]="{'disabled': selectedChannelGeoCreate.length===0 || selectedGMPProductCreateTreeData_label === ''}" >Retrieve</button>
                </h5>
            </div>
            <div id="collapseHirearchy3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headerCreate">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 form-label text-right">Channel-Geography</label>
                            <div class="col-sm-7">
                                <angular2-multiselect [data]="ChannelGeosData"
                                                      [(ngModel)]="selectedChannelGeoCreate"
                                                      [settings]="ChannelGeoDropdownSettings"
                                                      (onSelect)="onCreateItemSelect($event)"
                                                      (onDeSelect)="OnCreateItemDeSelect($event)">
                                </angular2-multiselect>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-2 form-label text-right">Product: </label> 
                            <div class="col-sm-2">
                                <button name='btnCreateProductTree' id="btnCreateProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal"
                                        data-target="#fullfillmentModal" (click)="getCreateProductTreeDetail();">
                                    <img src="../../../img/treeviewdetail.jpg"
                                         style="width:15px;height:20px;" />
                                </button>
                            </div>
                            <div class="col-sm-8">
                                {{selectedGMPProductCreateTreeData_label}}
                            </div>
                        </div>
                        <div class="clear-padding" >
                            <div  id="grid1" class="form-group col-sm-12">
                                <ag-grid-angular
                                                 #agGrid style="height: 250px;"
                                                 [suppressRowClickSelection]="true" 
                                                 class="ag-theme-blue"
                                                 [gridOptions]="gridOptionsCreate"
                                                 [columnDefs]="columnDefs"
                                                 [components]="componentsCreate"
                                                 [headerHeight]="headerHeight"
                                                 [rowData]="rowDataCreate"
                                                 [frameworkComponents]="frameworkComponentsNameCreate"
                                                 [enableSorting]="true"
                                                 [enableFilter]="false"
                                                 [debug]="true"
                                                 [enableCellChangeFlash]="true"
                                                 [context]="contextNameCreate"
                                                 [animateRows]="true"
                                                 [enableColResize]="true"
                                                 [suppressCsvExport]="true"
                                                 [paginationPageSize]= "7"
                                                 [showToolPanel]="true"
                                                 [floatingFilter]="true"
                                                 [pagination]="true"
                                                 enableColResize enableFilter 
                                                 [rowSelection]="rowSelection"
                                                  (cellEditingStarted)='oncellEditingStartedCreate($event)'
                                                 (selectionChanged)='onSelectionChangedCreate($event)'
                                                 [singleClickEdit]="true"
                                                 (gridReady)="onGridReadyCreate($event)" 
                                                 rowHeight="22">
                                    <!--(gridReady)="onGridReady($event)">-->
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--grid section-->

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseFGGrid">Grid Section</a>
                    <button name="btnExcelExport" id="btnExcelExport" class="btn btn-default btn-sm pull-right btn-mr" *ngIf="excelExportDisable" (click)="ExcelExport()">Excel Export</button>
                </h5>
            </div>
            <div id="collapseFGGrid" class="panel-collapse collapse in">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 410px;" [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                                         [headerHeight]="headerHeight" [rowData]="rowData" [frameworkComponents]="frameworkComponentsName" [enableSorting]="true" [enableFilter]="false" [debug]="true" [enableCellChangeFlash]="true" [context]="contextName"
                                         [animateRows]="true" [enableColResize]="true" [suppressCsvExport]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [pagination]="true"
                                         enableColResize enableFilter rowHeight="22" (gridReady)="onGridReady($event)" >
                            <!--(gridReady)="onGridReady($event)">-->
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-tree-view [treeViewDetail]="treeViewDetailData" (selectedGMPProductTreeDataChanged)="onselectedGMPProductTreeDataChanged($event)"
               (selectedGMPProductCreateTreeDataChanged)="onselectedGMPProductCreateTreeDataChanged($event)"></app-tree-view>




