﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">Request Dashboard</a></li>
    </ol>
    <!--<div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>-->
</div>

<div class="container-fluid">
    <!--<span class="text-color-blue"> Every Successful Upload will replace old data.</span>-->

    <div class="panel-group"  *ngIf="isUserHavingWriteAccess">
        <div class="panel panel-primary">


            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group col-sm-12">
                        <h5>

                            <span class="text-color-blue">Every Successful Upload will replace old data.</span>
                            <!--<span class="text-color-red"> Go to File->SaveAs->Select Excel Workbook->Save</span>-->
                            <span class="text-color-blue">
                                Please upload data in the nomenclature of NAME(ID) for Product, ID(NAME) for Channel and Geography while using excel template.
                                Successful upload will display the same data in the Grid.
                            </span>
                        </h5>
                    </div>
                    <div class="form-group col-sm-4">


                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Search Section
                    </a>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="GetEmcFilterViewResult($event)">Search</button>
                    <!--<button name='btnreset' id='btnreset' [disabled]="!IsFilterClearBtnDisable" class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>-->
                </h5>
            </div>
            <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Product</label>
                            <div class="col-sm-8">

                                <angular2-multiselect [data]="Productdata" [(ngModel)]="SelectedProductvalue" [settings]="singleSelectDropdownSettingsProduct">
                                </angular2-multiselect>

                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Channel </label>
                            <div class="col-sm-8">
                                <angular2-multiselect [data]="channeldata" [(ngModel)]="Selectedchanelvalue" [settings]="singleSelectDropdownSettingschannel">
                                </angular2-multiselect>


                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Geography</label>
                            <div class="col-sm-8">
                                <angular2-multiselect [data]="geographyldata" [(ngModel)]="Selectedgeographyvalue" [settings]="singleSelectDropdownSettingsgeography">
                                </angular2-multiselect>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--SecodPanel-->


    <div class="panel-group" *ngIf="isUserHavingWriteAccess">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy3" aria-expanded="false" aria-controls="collapseHirearchy3">
                        Create/Save
                    </a>
                    <!--<button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="GetEmcFilterViewResult($event)" [disabled]="IsFilterViewResultBtnDisable">Search</button>
                    <button name='btnreset' id='btnreset' [disabled]="!IsFilterClearBtnDisable" class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>-->
                </h5>
            </div>
            <div id="collapseHirearchy3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" >
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-6 form-label text-right"> Select an excel file to upload:</label>
                            <div class="col-sm-5">

                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="file" class="form-control select-style" id="file" [(ngModel)]="fileuplaodName" (change)="FileValidation($event)" #file name="filename" accept=".xlsx, .xls" />

                        </div>

                        <div class="form-group col-sm-4">
                            <input type="button" id="Upload" class="btn btn-sm btn-primary" name="Upload" value="Upload File" (click)="UploadFile()" />


                            <!--<a href="" (click)="DownloadTemplate($event)">Download Template</a>-->

                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr " (click)="DownloadTemplate($event)">Download Template</button>



                        </div>


                        <!--<div class="form-group col-sm-2">

                        </div>-->



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div> <span class="text-color-red"> {{FilleerrorMessage}} </span></div>



    <div class="panel-group" *ngIf="isvisibleerrodiv">
        <div class="panel panel-primary">


            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group col-sm-10">
                        <label class="col-sm-10 form-label text-right text-color-red" *ngIf="errormessagedisplay">{{ErrorMessage}} </label>
                        <label class="col-sm-10 form-label text-right text-color-greed" *ngIf="errormessagedisplayscusses"> {{Sucessfullmessage}} </label>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="form-group col-sm-10">
                        <label class="col-sm-4 form-label text-right text-color-red">Total Rows in the file:</label>
                        <div class="col-sm-6">
                            {{TotalRows}}
                        </div>
                    </div>
                </div>


                <div class="form-inline">
                    <div class="form-group col-sm-10">
                        <label class="col-sm-4 form-label text-right text-color-red">Records that failed validation :</label>
                        <div class="col-sm-6">
                            {{Recordsfailed}}
                        </div>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="form-group col-sm-10">
                        <label class="col-sm-4 form-label text-right text-color-red">Correct Records:</label>
                        <div class="col-sm-6">
                            {{RecordsCorrect}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div *ngIf="productnamedisplay"><span class="text-color-red">  Product : {{ProductName}} <span class="ProductTitledisplay"></span> Channel : {{ChannelName}}  <span class="ProductTitledisplay"></span>  	Geography :  {{GeoName}}  </span></div>

    <!-- Grid Section -->
    <div class="panel-group">
        <div class="panel panel-primary " *ngIf="IsdemandGrid">
            <div class="panel-heading " role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title ">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid4">Grid Section</a>

                    <button name='btnExportExcel' id="btnExportExcel " class="btn btn-default btn-sm pull-right btn-mr " (click)="ExportExcelDemand($event)" *ngIf="Isexport">Excel Export</button>

                </h5>
            </div>
            <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body clear-padding ">
                    <div id="grid ">
                        <ag-grid-angular #agGrid style="height: 405px; "
                                         (filterChanged)='OnFilterChangeName($event)'
                                         (selectionChanged)='onSelectionChanged($event)'
                                         [suppressRowClickSelection]="true "
                                         [headerHeight]="headerHeight"
                                         class="ag-theme-blue "
                                         [gridOptions]="gridOptionsName"
                                         [columnDefs]="columnDefs"
                                         (bodyScroll)="OnBodyScroll"
                                         [rowData]="rowDataName"
                                         (cellEditingStarted)='oncellEditingStarted($event)'
                                         [enableSorting]="true "
                                         [enableFilter]="false "
                                         [debug]="true "
                                         [context]="contextName"
                                         [enableCellChangeFlash]="true "
                                         [components]="componentsName"
                                         [singleClickEdit]="true"
                                         [animateRows]="true"
                                         [rowSelection]="rowSelection "
                                         [enableColResize]="true "
                                         [paginationPageSize]="paginationPageSize "
                                         [floatingFilter]="true "
                                         [suppressCsvExport]="true "
                                         [pagination]="true " enableColResize
                                         enableSorting enableFilter rowHeight="22"
                                         rowSelection="multiple "
                                         (gridReady)="onGridReadyName($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!--There are 1 error in the uplaod file, Please correct the entries and re-upload the file.-->
    <!--export button-->
    <!--<div class="panel-group">
        <div class="panel panel-primary">


            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group col-sm-12">
                        <h5>

                            <span class="text-color-blue">  If the exported file is to be used for import again, Please ensure the following steps are executed on the exported file,</span>
                            <span class="text-color-red"> Go to File->SaveAs->Select Excel Workbook->Save</span>
                            <span class="text-color-blue">
                                Please upload data in the nomenclature of NAME(ID) for Product, ID(NAME) for Channel and Geography while using excel template.
                                Successful upload will display the same data in the Grid.
                            </span>
                        </h5>
                    </div>
                    <div class="form-group col-sm-4">


                        <button name='btnExportExcel' id="btnExportExcel " class="btn btn-default btn-sm pull-right btn-mr " (click)="ExportExcelDemand($event)" *ngIf="Isexport">Excel Export</button>

                    </div>

                </div>
            </div>
        </div>
    </div>-->
    <!-- Error Grid Section -->
    <div class="panel-group">
        <div class="panel panel-primary" *ngIf="IserrorGrid">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseLTGrid2">Error Grid Section</a>
                    <!--<button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr" (click)="btnerrExportExcel($event)" [disabled]="!griderrBtnExcelExport">Excel Export</button>-->
                </h5>
            </div>
            <div id="collapseLTGrid2" class="panel-collapse collapse">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 350px;" (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="errGridOptions" [columnDefs]="columnDefs"
                                         [headerHeight]="headerHeight" [rowData]="errRowData" (cellEditingStarted)='oncellEditingStarted($event)' [enableSorting]="true" [enableFilter]="false" [debug]="true" [getRowNodeId]="errgetRowNodeId" [enableCellChangeFlash]="true"
                                         [animateRows]="true" [rowSelection]="rowSelection" [enableColResize]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [suppressCsvExport]="true" [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22" rowSelection="multiple" (gridReady)="onGridReadyError($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>