<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->

<!--<div class="progress-bars">
    <ng-progress [positionUsing]="'translate3d'" [minimum]="0.15" [maximum]="1" [speed]="'200'" [showSpinner]="'true'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="350" [thick]="true" [ease]="'linear'"></ng-progress>
</div>-->
<div class='container-fluid'>
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <app-nav></app-nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
