<div class="container-fluid active" *ngIf="isUserHavingWriteAccess">
    <ol class="breadcrumb breadcrumb-arrow col-md-2 active">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">User Maintenance</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div *ngIf="isActiveScreen">
    <div class="container-fluid" *ngIf="isUserHavingWriteAccess">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" #fakeClick>

            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne" role="tabpanel" aria-labelledby="headingOne">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#AddUser" aria-expanded="false" aria-controls="AddUser">
                            Add New User
                        </a>
                        <button name='btnSaveUser' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="AddUsers()" *ngIf="isUserHavingWriteAccess" [ngClass]="{'disabled': userName === '' || selectedTenant.length===0 || emailId === '' || selectedRoles.length === 0}">Save</button>
                        <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="ClearAddUserData()" [disabled]='IsClearBtnDisable'>Clear</button>
                    </h5>
                </div>
                <div id="AddUser" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-inline">
                            <!--Region-->
                            <div class="form-group col-sm-4 " *ngIf=false>
                                <label class="col-sm-4 form-label text-right asterik">Region</label>
                                <div class="col-sm-8">
                                    <angular2-multiselect [data]="region" [(ngModel)]="selected_region" [settings]="singleSelectDropdownSettings" (onSelect)="onSelectRegionDD($event)" (onDeSelect)="onDeSelectRegionDD($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>

                            <!--Tenant Type-->
                            <div class="form-group col-md-4">
                                <span class="col-sm-4 form-label text-right clear-padding asterik">Tenant Type</span>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="TenantList" [(ngModel)]="selectedTenant" [settings]="singleSelectDropdownSettings" (onSelect)="onItemSelectTenant($event)" (onDeSelect)="OnItemDeSelectTenant($event)"></angular2-multiselect>
                                </div>
                            </div>

                            <!--User NAme-->
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 form-label text-right asterik">User Name</label>
                                <div class="col-sm-8">
                                    <input type="text" tabindex="2" name="txtUserName" [(ngModel)]="userName" (change)="ValidateUserName()" placeholder="DELL NT User" class="form-control" id="txtUserName" maxlength="255" required />
                                </div>
                            </div>

                            <!--user Email ID-->
                            <div class="form-group col-sm-4" *ngIf="showEmailId">
                                <label class="col-sm-4 form-label text-right asterik">User Email Id</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtUserName" [(ngModel)]="emailId" title={{emailId}} class="form-control" disabled id="txtEmailId" />
                                    <!--<label class="form-label text-right">{{emailId}}</label>-->
                                </div>
                            </div>

                            <!--USer Domain-->
                            <div class="form-group col-sm-4" *ngIf="showEmailId">
                                <label class="col-sm-4 form-label text-right asterik">User Domain</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtDomain" [(ngModel)]="domain" title={{domain}} class="form-control" disabled id="txtDomain" />
                                    <!--<label class="form-label text-right">{{emailId}}</label>-->
                                </div>


                            </div>

                            <!--USer Group-->

                            <div class="form-group col-sm-4" *ngIf=false>
                                <label class="col-sm-4 form-label text-right asterik">User Group</label>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="userGroups" [(ngModel)]="selectedUserGroups" [settings]="singleSelectDropdownSettings" (onSelect)="onUserGroupSelect($event)" (onDeSelect)="OnUserGroupDeSelect($event)" (onSelectAll)="onUserGroupSelectAll($event)" (onDeSelectAll)="onUserGroupDeSelectAll($event)"></angular2-multiselect>
                                </div>
                            </div>

                            <!--Roles-->
                            <div class="form-group col-sm-4" *ngIf='IsDisableRolesDD'>
                                <label class="col-sm-4 form-label text-right asterik">Roles</label>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="roles" [(ngModel)]="selectedRoles" [settings]="multiSelectDropdownSettings" (onSelect)="onRolesSelect($event)" (onDeSelect)="OnRolesDeSelect($event)" (onSelectAll)="onRolesSelectAll($event)" (onDeSelectAll)="onRolesDeSelectAll($event)"></angular2-multiselect>
                                </div>
                            </div>

                            <!--LOBs-->
                            <div class="form-group col-sm-4" *ngIf="showLobList">
                                <label class="col-sm-4 form-label text-right">LOBs</label>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="LOBList" [(ngModel)]="selectedLobs" [settings]="multiSelectDropdownSettings" (onSelect)="onRolesSelect($event)" (onDeSelect)="OnRolesDeSelect($event)" (onSelectAll)="onRolesSelectAll($event)" (onDeSelectAll)="onRolesDeSelectAll($event)"></angular2-multiselect>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Search Criteria Section-->
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#searchCriteria" aria-expanded="false" aria-controls="searchCriteria">
                            Search Criteria
                        </a>
                        <button name='btnViewResult' id='btnViewResult1' class="btn btn-default btn-sm pull-right btn-mr" (click)="LoadUserGrid()" [disabled]='IsViewResultBtnDisable' [ngClass]="{'disabled': selectedTenantFilter.length===0}">View Result</button>
                        <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="ClearSearchCriteria()" [disabled]='IsClearBtnDisable'>Clear</button>
                    </h5>
                </div>
                <div id="searchCriteria" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="form-inline">
                            <!--Tenant Type-->
                            <div class="form-group col-md-4">
                                <span class="col-sm-4 form-label text-right clear-padding asterik">Tenant Type</span>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="TenantList" [(ngModel)]="selectedTenantFilter" [settings]="singleSelectDropdownSettings" (onSelect)="onItemSelectTenantFilter($event)" (onDeSelect)="OnItemDeSelectTenantFilter($event)"></angular2-multiselect>
                                </div>
                            </div>

                            <div class="form-group col-sm-4 " *ngIf=false>
                                <label class="col-sm-4 form-label text-right">Region</label>
                                <div class="col-sm-8">
                                    <angular2-multiselect [data]="region" [(ngModel)]="selectedRegionFilter" [settings]="multiSelectDropdownSettings" (onSelect)="onSelectRegionFilterDD($event)" (onDeSelect)="onDeSelectRegionFilterDD($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-sm-4 form-label text-right">User Name</label>
                                <div class="col-sm-8">
                                    <angular2-multiselect [data]="userNameList" [(ngModel)]="selectedUserNameFilter" [settings]="multiSelectDropdownSettings" (onSelect)="onSelectuserNameFilterDD($event)" (onDeSelect)="onDeSelectuserNameFilterDD($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>
                            <div class="form-group col-sm-4" *ngIf=false>
                                <label class="col-sm-4 form-label text-right">User Group</label>
                                <div class="col-sm-8 multiselect">
                                    <angular2-multiselect [data]="userGroups" [(ngModel)]="selectedUserGroupsFilter" [settings]="multiSelectDropdownSettings" (onSelect)="onUserGroupFilteSelect($event)" (onDeSelect)="OnUserGroupFilteDeSelect($event)" (onSelectAll)="onUserGroupFilteSelectAll($event)" (onDeSelectAll)="onUserGroupFilteDeSelectAll($event)"></angular2-multiselect>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-4 form-label text-right">Active/In-Active</label>
                                <div class="col-sm-8">
                                    <angular2-multiselect [data]="ActiveInactiveList" [(ngModel)]="selectedActiveInactiveFilter" [settings]="singleSelectDropdownSettings" (onSelect)="onSelectActiveInactiveFilterDD($event)" (onDeSelect)="onDeSelectActiveInactiveFilterDD($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Grid Section FGA -->
        <div class="panel-group">
            <div class="panel panel-primary ">
                <div class="panel-heading ">
                    <h5 class="panel-title ">
                        <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid3">User Details Grid Section</a>
                        <button name='btnSave' id="btnSave " class="btn btn-default btn-sm pull-right btn-mr " [disabled]="!gridBtnsave " (click)="updateGridRow() " *ngIf="isUserHavingWriteAccess">Save </button>
                        <button name='btnreset' id="btnReset " class="btn btn-default btn-sm pull-right btn-mr " (click)="clearGridData($event) " [disabled]="!gridBtnClear ">Refresh</button>
                        <button name='btnExportExcel' id="btnExportExcel " class="btn btn-default btn-sm pull-right btn-mr " (click)="btnExportExcel($event) " [disabled]="!gridBtnExcelExport ">Excel Export</button>
                        <button name='btnExportExcelFilter' id="btnExportExcelFilter" class="btn btn-default btn-sm pull-right btn-mr " (click)="btnExportExcelFilter($event) " [disabled]="!gridBtnExcelExportFilter ">Smart Filter Excel Export</button>
                    </h5>
                </div>
                <div id="collapseDepotGrid3" class="panel-collapse collapse in">
                    <div class="panel-body clear-padding ">
                        <div id="grid ">
                            <ag-grid-angular #agGrid style="height: 405px; " (filterChanged)='OnFilterChange($event)' (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true " class="ag-theme-blue " [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                                             (bodyScroll)="OnBodyScroll" [rowData]="rowData" (cellEditingStarted)='oncellEditingStarted($event)' [enableSorting]="true " [enableFilter]="false " [debug]="true " [context]="context" [frameworkComponents]="frameworkComponents" [getRowNodeId]="getRowNodeId " [enableCellChangeFlash]="true "
                                             [animateRows]="true" [rowSelection]="rowSelection " [enableColResize]="true " [paginationPageSize]="paginationPageSize " [showToolPanel]="true " [floatingFilter]="true " [suppressCsvExport]="true " [pagination]="true " enableColResize
                                             enableSorting enableFilter rowHeight="22" rowSelection="multiple " (gridReady)="onGridReady($event)" [components]="components" [singleClickEdit]="true">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group col-sm-8" *ngIf="!isUserHavingWriteAccess">
        <label class="col-sm-4 form-label text-right"></label>
        <div class="col-sm-8">
            <label class="col-sm-8 form-label text-right"> You do not have required access </label>
        </div>
    </div>
</div>