﻿<div class="modal fade" id="popup_copyrule" tabindex="-1" role="dialog" aria-labelledby="fullfillmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="padding: 12px;width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                Routing Rule Copy
            </div>

            <div class="modal-body" style="height:400px ; width: 500px;">


                <div class="col-md-12">
                    <div class="form-group col-sm-8">
                        <label class="col-sm-4 form-label text-right">Product/FHC/FGA</label>
                        <div class="col-sm-8">

                            <angular2-multiselect [data]="CopyProductdata" [(ngModel)]="CopySelectedProductvalue" [settings]="singleSelectDropdownSettingsProduct" (onSelect)="onCopyRulesSelectedProduct($event)">
                            </angular2-multiselect>
                            {{SelectedCopyProductTree}}
                        </div>
                    </div>
                    <div class="form-group col-sm-4" [hidden]="isProductTree">

                        <div class="col-sm-8">
                            <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getProductTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            {{SelectedCopyProductTree}}

                        </div>
                    </div>
                </div>


                <div class="col-md-12">

                    <div class="form-group col-sm-6">

                     </div>

                        <div class="form-group col-sm-2">

                            <button name='btnreset' id='btnreset' class="btn btn-primary btn-md" (click)="SubmiteCopyRules($event)">Submit</button>
                        </div>
                        <div class="form-group col-sm-2">
                            <button name='btnreset' id='btnreset' class="btn btn-primary btn-md">Clear</button>
                        </div>



                    </div>

                </div>
        </div>
    </div>
</div>
    <app-tree-view [treeViewDetail]="treeViewDetailData" (selectedProductTreeDataChanged)="onselectedProductTreeDataChanged($event)" ></app-tree-view>


