﻿<!-- Modal -->
<div class="modal fade" id="fullfillmentModal" tabindex="-1" role="dialog" aria-labelledby="fullfillmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="padding: 12px;width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                <div>{{treeViewDetail.header}}</div>
                <button type="button" class="close" data-dismiss="modal"  #closeAddExpenseModal aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
           
            <div class="modal-body">
                <div [hidden]="!treeViewDetail.isSearchEnable">
                    <div style="padding-top:10px;padding-bottom:10px;color:gray"><b>{{treeViewDetail.headerMsg}}</b></div>

                    <div style="color:red;padding-top:10px;padding-bottom:10px;"> {{treeViewDetail.msgNote}}</div>

                    <button name='btnSearch' id='btnSearch' class="btn btn-default btn-sm pull-right btn-mr" (click)="GetFilteredData();">Search</button>
                    <input type="text" [(ngModel)]="filterString" />
                    <div style="color:red"></div>
                </div>                
                <tree-root #tree [focused]="true"  [options]="options" (deactivate)="onDeSelectTreeNode($event)" (activate)="onSelectTreeNode($event)" [nodes]="nodeData" style="overflow:scroll;max-height:200px;"></tree-root>
            </div>
        </div>
    </div>
</div>
