﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">RP Supply Plan - FHC</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'green' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div class="container-fluid" *ngIf="isActiveScreen">

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group col-sm-12">
                        <h4>
                            <div class="text-danger">{{currentRPStatus}}</div>
                        </h4>
                        <h5>
                            <div class="text-danger">FHC Upload will be enabled after the weekly RP run completion until Friday MRP submission Time.</div>
                            <div class="text-danger">Uploads for MRP Submission must be completed by APJ (0500), EMEA (1100), DAO and Brazil (1800). All times are US Central Time.</div>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne" role="tabpanel" aria-labelledby="headingOne">
            <h5 class="panel-title">
                <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapsedepot1" aria-expanded="false" aria-controls="collapsedepot1">
                    Search
                </a>
                <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>
                <button name='btnFulfillmentSearch' id="btnFulfillmentSearch" class="btn btn-default btn-sm pull-right btn-mr" (click)="exportSupplyPlanningFhcData();">Export</button>
            </h5>
        </div>
        <div id="collapsedepot1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                <div class="col-md-12" style="min-height:50px;">
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Review Through Week</b></div>
                        <div class="col-md-offset-3">
                            <angular2-multiselect style="padding:0px;" name="ddlReviewThroughWeek" [(ngModel)]="selectedWeek" [data]="reviewThroughWeekData" [settings]="singleSelectDropdownSettingsReviewWeeks"></angular2-multiselect>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="min-height:50px;">
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>FHC ID</b></div>
                        <div class="col-md-offset-3">
                            <!--<div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlFhcID" [(ngModel)]="selectedFhcId" [data]="fhcIdData" [settings]="singleSelectDropdownSettings" (onSelect)="onSelectFhcId($event)"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isFhcIdTreeHidden">
                                <button name='btnFhcIdTree' id="btnFhcIdTree" cisFhcIdTreelass="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getFhcIdTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            </div>-->

                            <input class="form-control" type="text" [(ngModel)]="selectedFhcId">
                        </div>
                        <!--<div class="col-md-offset-3">
                            {{selectedFhcIdData_label}}
                        </div>-->
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Family Parent</b></div>
                        <div class="col-md-offset-3">
                            <!--<div class="col-md-8" style="padding:0;">
                                <angular2-multiselect style="padding:0px;" name="ddlFamilyParent" [(ngModel)]="selectedFamilyParent" [data]="familyParentData" [settings]="singleSelectDropdownSettings" (onSelect)="onSelectFamilyParent($event)"></angular2-multiselect>
                            </div>
                            <div class="col-md-4" [hidden]="isFamilyParentTreeHidden">
                                <button name='btnFamilyParentTree' id="btnFamilyParentTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getFamilyParentTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                            </div>-->

                            <angular2-multiselect style="padding:0px;" name="ddlFamilyParent" [(ngModel)]="selectedFamilyParent" [data]="familyParentData" [settings]="singleSelectDropdownSettingsManSite"></angular2-multiselect>
                        </div>
                        <!--<div class="col-md-offset-3">
                            {{selectedFamilyParentData_label}}
                        </div>-->
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Manufacturing Site</b></div>
                        <div class="col-md-offset-3">
                            <angular2-multiselect style="padding:0px;" name="ddlManSite" [(ngModel)]="selectedManSite" [data]="ManufacturingSiteData" [settings]="singleSelectDropdownSettingsManSite"></angular2-multiselect>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-offset-3"><b>Region</b></div>
                        <div class="col-md-offset-3">
                            <angular2-multiselect style="padding:0px;" name="ddlRegion" [(ngModel)]="selectedRegion" [data]="regionData" [settings]="singleSelectDropdownSettings"></angular2-multiselect>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" *ngIf="isUserHavingWriteAccess">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseOperationsActions" aria-expanded="false" aria-controls="collapseOperationsActions">
                        Operations/Actions
                    </a>
                </h5>
            </div>
            <div id="collapseOperationsActions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-8">
                            <label class="col-sm-6 form-label text-right"> Select an excel file to upload:</label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control select-style" id="file" [(ngModel)]="fileUploadName" (change)="FileValidation($event)" #file name="filename" accept=".xlsx, .xls" />
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="button" id="Upload" class="btn btn-sm btn-primary" name="Upload" [disabled]="isUploadDisabled" value="Upload File" (click)="UploadFile()" />
                        </div>
                        <div class="form-group col-sm-2">
                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm btn-mr " (click)="DownloadTemplate($event)">Download Template</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-primary" *ngIf="hasError">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseErrGrid2">Error Grid</a>
                    <button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr" (click)="errGridExcelExport($event)" [disabled]="errGridExportDisabled">Excel Export</button>
                </h5>
            </div>
            <div id="collapseErrGrid2" class="panel-collapse">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 300px;" (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="errGridOptions" [columnDefs]="columnDefs"
                                         [headerHeight]="headerHeight" [rowData]="errRowData" [enableSorting]="true" [enableFilter]="false" [debug]="true" [enableCellChangeFlash]="true"
                                         [animateRows]="true" [rowSelection]="rowSelection" [enableColResize]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [suppressCsvExport]="true" [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22" rowSelection="multiple" (gridReady)="onErrGridReady($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
