.btn-sm-cu{
    padding: 0px 5px !important;   
}
.btn-idle{
    display: none;
}


#myModal .btn-group-sm>.btn, #myModal .btn-sm {
    padding: 0px 9px;
    float: right;
}

#myModal .btn-circle {
    width: 13px;
    height: 13px;
}

#myModal .modal-dialog {
    bottom: 28px;
}

#myModal .modal-header {
    border-bottom: 5px solid #337ab7;
}

#myModal .modal-content{
    border-radius: 0px;
}

#myModal .modal-header{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

@media (min-width: 768px){
    #myModal .modal-dialog {
        width: 320px;
        margin: 30px auto;
    }
}

.flash-button1{
    background: #0f0 !important;
	/* background:blue;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px; */
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}