<li class="font-color">
    <h4 style="display:inline;">Dell</h4>
    <strong>|</strong>
    <span><strong>{{userName}}</strong></span>
    <br>
    <div class="pull-right">
        <button type="button" class="btn btn-circle flash-button btn-{{stateColor}}" data-toggle="tooltip" title="{{idleState}}">&nbsp;</button>
        &nbsp;<small>{{userDomain}}</small>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-idle" data-toggle="modal" data-target="#myModal" #idleModalBtn>
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" #idleModal>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-circle btn-{{stateColor}}" data-toggle="tooltip" title="{{idleState}}">&nbsp;</button>
                    {{idleState}} : {{idleStateMsg}}
                    <!--<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="reset(1)" *ngIf="timedOut" [routerLink]="['/home']">Reload</button>-->
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="reset(1)"  [routerLink]="['/home']">Reload</button>
                </div>
            </div>
        </div>
    </div>


</li>