﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item">
            <a href="javascript:void(0)" class="breadcrumb-admin">
                RoutingRules
            </a>
        </li>
    </ol>

</div>

<div class="container-fluid">




   

    <span class="text-color-blue"><img src="../../../img/icon_information.gif" style="width:20px;height:20px;" />  Product Members at LOB and Family Parent.</span>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Search Section
                    </a>

                    <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="GetRoutingFilterViewResult()">Search</button>

                </h5>
            </div>
            <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">


                            <div class="col-md-offset-3"><b>Product/FHC/FGA</b></div>
                            <div class="col-md-offset-3">
                                <div class="col-md-8" style="padding:0;">

                                    <angular2-multiselect [data]="Productdata" [(ngModel)]="SelectedProductvalue" [settings]="singleSelectDropdownSettingsProduct" (onSelect)="onSelectedProduct($event)">
                                    </angular2-multiselect>


                                    <span class="text-color-red">  {{fgaMessage}}</span>

                                </div>

                                <div class="col-md-4" [hidden]="isProductTree">
                                    <!--<span>{{SelectedTreeLable}}</span>-->
                                    <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getProductTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>


                                </div>
                            </div>
                            <div class="col-md-offset-3">

                            </div>
                            <div class="col-md-offset-3">

                            </div>

                        </div>
                        <div class="form-group col-sm-4">
                            <div class="col-md-offset-3"><b></b></div>
                            <div class="col-sm-8" style=" margin-top: 17px;">

                                {{selectedProductTreeData_label}}

                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Geography</label>
                            <div class="col-sm-8">
                                <angular2-multiselect [data]="geographyldata" [(ngModel)]="Selectedgeographyvalue" [settings]="singleSelectDropdownSettingsgeography">
                                </angular2-multiselect>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--SecodPanel-->
     
        
    <span class="text-color-blue" *ngIf="isUserHavingWriteAccess"><img src="../../../img/icon_information.gif" style="width:20px;height:20px;" />Please follow up usage of Add/Update, Update, Delete buttons with a click on Save Button.</span>
   



    <div class="panel-group">
        <div class="panel panel-primary" *ngIf="isUserHavingWriteAccess">
            <div class="panel-heading" role="tab" id="headingFive" role="tabpanel" aria-labelledby="headingFive">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseDepotGrid5" aria-expanded="false" aria-controls="collapseDepotGrid5">
                        Create
                    </a>

                    <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="clearCreateData()" [ngClass]="{'disabled':  RetriveRoutingRule_Clear}">Clear</button>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="RetriveRoutingRule()" [ngClass]="{'disabled':  RetriveRoutingRule_Edit}">Retrieve</button>



                </h5>
            </div>


            <div id="collapseDepotGrid5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">

                            <div class="col-md-offset-3">  <span class="text-color-red"> {{NoRoutingsConfiguredAddUpdate}} </span></div>
                          

                            <div class="col-md-offset-3"><b>Product/FHC/FGA</b></div>
                            <div class="col-md-offset-3">
                                <div class="col-md-8" style="padding:0;">

                                    <angular2-multiselect [data]="Productdatasecond" [(ngModel)]="SelectedProductvaluesecond" [settings]="singleSelectDropdownSettingsProduct" (onSelect)="onSelectedProductSecond($event)" [ngClass]="{'disabled':  isddlProductSecond_edit}">
                                    </angular2-multiselect>
                                    <div>
                                        <span class="text-color-red">  {{RetriveProductErrmsg}}</span>
                                        <span class="text-color-greed">{{SavedMessage}}</span>
                                    </div>

                                </div>
                                <div class="col-md-4" [hidden]="isProductSeconfTree">

                                    <!--<span>{{SelectedTreeLableSecond}}</span>-->
                                    <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" [ngClass]="{'disabled':  isddlProductSecond_edit_image}" (click)="getProductTreeDetails();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                                    <!--{{selectedProductTreeData_create_label}}-->
                                </div>
                            </div>

                            <div class="col-md-offset-3">

                            </div>






                        </div>
                        <div class="form-group col-sm-4">
                            <!--<label class="col-sm-4 form-label text-right">Channel </label>-->
                            <div class="col-sm-8" style=" margin-top: 17px;">

                                {{selectedProductTreeData_create_label}}

                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <!--<label class="col-sm-4 form-label text-right">Geography</label>-->
                            <div class="col-sm-8">
                                <!--<angular2-multiselect [data]="geographyldata" [(ngModel)]="Selectedgeographyvalue" [settings]="singleSelectDropdownSettingsgeography">
                            </angular2-multiselect>-->
                            </div>
                        </div>

                    </div>

                </div>

                <div class="panel-group" *ngIf="isupdatePanel">
                    <div class="panel panel-primary">

                        <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="col-md-offset-3"><b>Fulfillment Site</b></div>

                                        <div class="col-md-offset-3">
                                            <angular2-multiselect style="padding:0px;" name="FulfillmentSite" [(ngModel)]="selectedFulfillmentSite" [data]="FulfillmentSite" [settings]="FulfillmentSiteDropdownSettings" [ngClass]="{'disabled':  isddlFullfilment_edit}" (onSelect)="Fulfillmentonchange($event)"></angular2-multiselect>
                                            <!--[ngClass]="{'disabled':  isddlGeography_edit}"-->

                                        </div>
                                        <div class="col-md-offset-3">
                                            <span class="text-color-red">{{Fulfillerrormessage}} </span>
                                        </div>


                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-offset-2"><b>Mfg Site Effective Begin Date</b></div>

                                        <div class="col-md-offset-2">
                                            <angular2-multiselect style="padding:0px;" name="EffectiveBeginDate" [(ngModel)]="selectedEffectiveBeginDate" [data]="EffectiveBeginDate" [settings]="EffectiveBeginDateDropdownSettings" (onSelect)="onSelectGeogrphy($event)" [ngClass]="{'disabled':  isddlMFGBeging_edit}"></angular2-multiselect>
                                        </div>




                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-offset-2"><b>Mfg Site Effective End Date</b></div>

                                        <div class="col-md-offset-2">
                                            <angular2-multiselect style="padding:0px;" name="EffectiveEndDate" [(ngModel)]="selecteddEffectiveEndDate" [data]="EffectiveEndDate" [settings]="EffectiveEndDateDropdownSettings" (onSelect)="onSelectGeogrphy($event)" [ngClass]="{'disabled':  isddlMFGEnd_edit}"></angular2-multiselect>
                                        </div>




                                    </div>
                                    <div class="col-md-offset-3">
                                        <div class="col-md-offset-3">
                                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn-primary pull-right" style="float:left" (click)="clearMFGinfo()">Clear</button>
                                        </div>
                                        <div class="col-md-offset-3">
                                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn-primary pull-right" style="margin-right: 8px;" (click)="AddMFGInfo($event)">Add MFG Info</button>
                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-12" *ngIf="isAddDeletePanel">
                                    <div class="col-md-3">
                                        <div class="col-md-offset-3"><b>Manufacturing Site</b></div>

                                        <div class="col-md-offset-3">
                                            <angular2-multiselect style="padding:0px;" name="ManufacturingSite" [(ngModel)]="selectedManufacturingSite" [data]="ManufacturingSite" [settings]="ManufacturingSiteDropdownSettings"></angular2-multiselect>
                                            <!--[ngClass]="{'disabled':  isddlGeography_edit}"-->

                                        </div>


                                        <span class="text-color-red  col-md-offset-3">{{RequirefieldMessage}} </span>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-offset-2"><b>Split Percentage </b></div>

                                        <div class="col-md-offset-2">
                                            <input type="text" [(ngModel)]="SelectedSplitPercentage" numbers-only (keypress)="numberOnly($event)" />
                                        </div>




                                    </div>


                                    <div class="col-md-offset-3">
                                        <div class="col-md-offset-3">
                                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn-primary pull-right" style="float:left" (click)="Adddyanamiccolumn($event)">Add</button>
                                        </div>
                                        <div class="col-md-offset-3">
                                            <button name='btnExportExcel11' id="btnExportExcel1" class="btn-primary pull-right" style="margin-right: 8px;" (click)="DeleteDyanamirow($event)">Delete</button>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-offset-3"><b></b></div>

                                        <div class="col-md-offset-3">
                                            <!--<button name='btnExportExcel11' id="btnExportExcel1" class="btn-primary pull-right" style="float:left">Add</button>-->
                                        </div>




                                    </div>



                                </div>


                                <div class="col-md-12" *ngIf="isDyanamicGrid">


                                    <div class="col-md-4" style="margin-left: 65px;">
                                        <div id="griddyanamic">
                                            <ag-grid-angular #agGrid style="height: 150px; "
                                                             (filterChanged)='OnFilterChangeName($event)'
                                                             (selectionChanged)='onSelectionChanged($event)'
                                                             [suppressRowClickSelection]="true "
                                                             [headerHeight]="headerHeight"
                                                             class="ag-theme-blue "
                                                             [gridOptions]="DynamicGrid"
                                                             [columnDefs]="columnDefs"
                                                             (bodyScroll)="OnBodyScroll"
                                                             [rowData]="DatarowDynamic"
                                                             (cellEditingStarted)='oncellEditingStarted($event)'
                                                             [enableSorting]="true "
                                                             [enableFilter]="false "
                                                             [debug]="true "
                                                             [context]="contextName"
                                                             [enableCellChangeFlash]="true "
                                                             [components]="componentsName"
                                                             [singleClickEdit]="true"
                                                             [animateRows]="true"
                                                             [rowSelection]="rowSelection_rules"
                                                             [enableColResize]="true "
                                                             [paginationPageSize]="paginationPageSize "
                                                             [floatingFilter]="true "
                                                             [suppressCsvExport]="true "
                                                             [pagination]="false" enableColResize
                                                             enableSorting enableFilter rowHeight="22"
                                                             rowSelection="multiple "
                                                             (gridReady)="onGridReadyName_Dynaic($event)">
                                            </ag-grid-angular>
                                        </div>

                                        <div>
                                            <button name='btnreset' id='btnreset' class="btn-primary pull-right" (click)="AddRoutingRules($event)" style="margin-top: 6px;">Add Routing</button>
                                        </div>
                                    </div>



                                    <div class="col-md-8">

                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>

                </div>

                <div class="panel-group" *ngIf="isRoutingPanel">
                    <div class="panel panel-primary">

                        <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                                <span class="text-color-red"> </span>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="col-md-offset-1 text-color-blue" ><b>Manufacturing Site: </b> {{ManufactringDisplay}}</div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="col-md-offset-1"><b>Primary Routing</b></div>

                                        <div class="col-md-offset-1">
                                            <angular2-multiselect style="padding:0px;" name="PrimaryRouting " [(ngModel)]="selectedPrimaryRouting " [data]="PrimaryRouting " [settings]="PrimaryRoutingDropdownSettings" (onSelect)="onSelectGeogrphy($event)"></angular2-multiselect>
                                        </div>

                                        <span class="text-color-red">{{PrimaryRoutingerro}}</span>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-offset-0"><b>Alternate Routing 1</b></div>

                                        <div class="col-md-offset-0">
                                            <angular2-multiselect style="padding:0px;" name="AlternateRouting1" [(ngModel)]="SelectAlternateRouting1" [data]="AlternateRouting1" [settings]="AlternateRouting1DropdownSettings" (onSelect)="onSelectGeogrphy($event)"></angular2-multiselect>
                                        </div>

                                    </div>

                                    <div class="col-md-2">
                                        <div class="col-md-offset-0"><b>Alternate Routing 2</b></div>

                                        <div class="col-md-offset-0">
                                            <angular2-multiselect style="padding:0px;" name="AlternateRouting2" [(ngModel)]="selectedAlternateRouting2" [data]="AlternateRouting2" [settings]="AlternateRouting2DropdownSettings" (onSelect)="onSelectGeogrphy($event)"></angular2-multiselect>
                                        </div>




                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-offset-0"><b>Routing Effective Start Date</b></div>

                                        <div class="col-md-offset-0">
                                            <angular2-multiselect style="padding:0px;" name="MFGFiscalBeginDate" [(ngModel)]="selectedMFGFiscalBeginDate" [data]="MFGFiscalBeginDate" [settings]="MFGFiscalBeginDateDropdownSettings"></angular2-multiselect>
                                        </div>
                                        <!--<div class="col-md-offset-2">

                                    </div>-->



                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-offset-0"><b>Routing Effective End Date</b></div>

                                        <div class="col-md-offset-0">
                                            <angular2-multiselect style="padding:0px;" name="ddlMFGFiscalEndDate" [(ngModel)]="selectedddlMFGFiscalEndDate" [data]="ddlMFGFiscalEndDate" [settings]="ddlMFGFiscalEndDateDropdownSettings"></angular2-multiselect>
                                        </div>

                                        <!--<div class="col-md-offset-2" style="padding:0px;">
                                        <button name='btnClear' id="btnClear" class="btn-primary pull-right " (click)="clearAddUpdate()">Clear</button>
                                    </div>-->




                                    </div>


                                </div>



                                <div class="col-md-12">



                                    <div class="form-group col-sm-5" style="float: right;padding :0px;margin-top: 10px;">


                                        <button name='btnClear' id="btnClear" class="btn-primary pull-right " (click)="clearAddUpdate()">Clear</button>
                                        <button name='btnaddupdate' id="btnaddupdate" class="btn-primary pull-right" (click)="AddUpdateRoutingRules($event)" style="margin-right:5px;">Add/Update Routing</button>

                                    </div>




                                </div>





                            </div>
                        </div>




                    </div>
                </div>

            </div>




            <!--updatePanel-->

        </div>


        <!--// For updating-->
        <!--AddupdateGrid-->
        <span class="text-color-red">{{RoutingErrorMessage}}</span>
        
        <div class="panel-group" *ngIf="isRoutingGrid">
            <div class="panel panel-primary ">
                <div class="panel-heading " role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                    <h5 class="panel-title ">
                        <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid4">AddupdateGrid</a>
                        <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr" (click)="SaveRoutingRules($event)" *ngIf="isUserHavingWriteAccess">Save</button>
                        <!--<button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr" (click)="UpdateRoutingRules($event)">Update</button>-->
                        <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr" (click)="DeleteAddUpdate($event)" [ngClass]="{'disabled':  DeleteAddUpdate_Delete}" *ngIf="isUserHavingWriteAccess">Delete</button>

                    </h5>
                </div>


                <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body clear-padding ">
                        <div id="grid ">
                            <ag-grid-angular #agGrid style="height: 220px; "
                                             (filterChanged)='OnFilterChangeName($event)'
                                             (selectionChanged)='onSelectionChanged_Update($event)'
                                             [suppressRowClickSelection]="true "
                                             [headerHeight]="headerHeight"
                                             class="ag-theme-blue "
                                             [gridOptions]="AddUpdateGrid"
                                             [columnDefs]="columnDefs"
                                             (bodyScroll)="OnBodyScroll"
                                             [rowData]="AddupdaterowData"
                                             (cellEditingStarted)='oncellEditingStarted($event)'
                                             [enableSorting]="true "
                                             [enableFilter]="false "
                                             [debug]="true "
                                             [context]="contextName"
                                             [enableCellChangeFlash]="true "
                                             [components]="componentsName"
                                             [singleClickEdit]="true"
                                             [animateRows]="true"
                                             [rowSelection]="rowSelection_Update"
                                             [enableColResize]="true "
                                             [paginationPageSize]="paginationPageSize "
                                             [floatingFilter]="true "
                                             [suppressCsvExport]="true "
                                             [pagination]="true " enableColResize
                                             enableSorting enableFilter rowHeight="22"
                                             rowSelection="singles "
                                             (gridReady)="onGridReadyAddUpdate($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Add Update Delete section for update-->
        <!-- Grid Section -->
        <!--<button name='btnCopyRule' id="btnCopyRule" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#popup_copyrule">Copy Rule</button>-->

        <div class="panel-group" *ngIf="isCopyRulesPanel">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingsix" role="tabpanel" aria-labelledby="headingsix">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseDepotGrid6" aria-expanded="false" aria-controls="collapseDepotGrid6">
                            Copy Rules
                        </a>
                        <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="SubmiteCopyRules($event)">Submit</button>
                        <button name='btnreset' id='btnreset' class="btn btn-default btn-sm pull-right btn-mr" (click)="Close($event)">Close</button>
                    </h5>
                </div>
                <div id="collapseDepotGrid6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group col-sm-4">


                                <div class="col-md-offset-3"><b>Product/FHC/FGA</b></div>
                                <div class="col-md-offset-3">
                                    <div class="col-md-8" style="padding:0;">

                                        <angular2-multiselect [data]="Productdata" [(ngModel)]="SelectedCopyProductvalue" [settings]="singleSelectDropdownSettingsProduct" (onSelect)="onSelectedCopyProduct($event)">
                                        </angular2-multiselect>

                                        <angular2-multiselect [data]="FGAdata" [(ngModel)]="SelectedFGA" [settings]="singleSelectDropdownSettingsFGA" *ngIf="isFGACopyRules">
                                        </angular2-multiselect>

                                        <span class="text-color-red">  {{CopyfgaMessage}}</span>
                                        <span class="text-color-greed">  {{CopySuccessMessage}}</span>

                                    </div>

                                    <div class="col-md-4" [hidden]="isProductTreeCopyRules">
                                        <!--<span>{{CopySelectedTreeLable}}</span>-->
                                        <button name='btnProductTree' id="btnProductTree" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" data-target="#fullfillmentModal" (click)="getProductCopyTreeDetail();"><img src="../../../img/treeviewdetail.jpg" style="width:15px;height:20px;" /></button>
                                        <!--{{CopyselectedProductTreeData_label}}-->
                                    </div>
                                </div>
                                <div class="col-md-offset-3">

                                </div>

                                <div class="col-md-offset-3">

                                </div>

                            </div>


                            <div class="form-group col-sm-4">
                                <div class="col-sm-8" style=" margin-top: 17px;">
                                    {{CopyselectedProductTreeData_label}}

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>



        <span class="text-color-greed">{{successmessage}} </span>
        <span class="text-color-red">{{errormessage}} </span>
        <span class="text-color-red"> {{NoRoutingsConfigured}} </span>
        <div class="panel-group" *ngIf="IseSearchGridSection">
            <div class="panel panel-primary ">
                <div class="panel-heading " role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                    <h5 class="panel-title ">
                        <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid4">Grid Section</a>


                        <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr" (click)="ExportExcelDemand($event)">Export To Excel</button>
                        <button name='btnCopyRule' id="btnCopyRule" class="btn btn-default btn-sm pull-right btn-mr" data-toggle="modal" (click)="CopyRoutingRules($event)" *ngIf="isUserHavingWriteAccess">Copy Rule</button>
                        <button name='btnExportExcel11' id="btnExportExcel1" class="btn btn-default btn-sm pull-right btn-mr" (click)="DeleteRoutingRules($event)" *ngIf="isUserHavingWriteAccess">Delete</button>

                    </h5>
                </div>


                <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body clear-padding ">
                        <div id="grid ">
                            <ag-grid-angular #agGrid style="height: 405px; "
                                             (filterChanged)='OnFilterChangeName($event)'
                                             (selectionChanged)='onSelectionChanged_Main($event)'
                                             [suppressRowClickSelection]="true "
                                             [headerHeight]="headerHeight"
                                             class="ag-theme-blue "
                                             [gridOptions]="gridOptionsName"
                                             [columnDefs]="columnDefs"
                                             (bodyScroll)="OnBodyScroll"
                                             [rowData]="rowDataName"
                                             (cellEditingStarted)='oncellEditingStarted($event)'
                                             [enableSorting]="true "
                                             [enableFilter]="false "
                                             [debug]="true "
                                             [context]="contextName"
                                             [enableCellChangeFlash]="true "
                                             [components]="componentsName"
                                             [singleClickEdit]="true"
                                             [animateRows]="true"
                                             [enableColResize]="true "
                                             [paginationPageSize]="paginationPageSize "
                                             [floatingFilter]="true "
                                             [suppressCsvExport]="true "
                                             [pagination]="true " enableColResize
                                             enableSorting enableFilter rowHeight="22"
                                             (gridReady)="onGridReadyName($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-group">
            <div class="panel panel-primary" *ngIf="IserrorGrid">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" id="panel-DD" href="#collapseLTGrid2">Error Grid Section</a>

                        <!--<button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr" (click)="btnerrExportExcel($event)" [disabled]="!griderrBtnExcelExport">Excel Export</button>-->
                    </h5>
                </div>
                <div id="collapseLTGrid2" class="panel-collapse collapse">
                    <div class="panel-body clear-padding">
                        <div id="grid">
                            <ag-grid-angular #agGrid style="height: 350px;" (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="errGridOptions" [columnDefs]="columnDefs"
                                             [headerHeight]="headerHeight" [rowData]="errRowData" (cellEditingStarted)='oncellEditingStarted($event)' [enableSorting]="true" [enableFilter]="false" [debug]="true" [getRowNodeId]="errgetRowNodeId" [enableCellChangeFlash]="true"
                                             [animateRows]="true" [rowSelection]="rowSelection" [enableColResize]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [suppressCsvExport]="true" [pagination]="true" enableColResize
                                             enableSorting enableFilter rowHeight="22" rowSelection="multiple" (gridReady)="onGridReadyError($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>











    <!--<app-tree-view></app-tree-view>-->
    <app-tree-view [treeViewDetail]="treeViewDetailData" (selectedProductTreeDataChanged)="onselectedProductTreeDataChanged($event)" (selectedRoutingCreateProductTreeDataChanged)="onselectedRoutingCreateProductTreeDataChanged($event)" (selectedRoutingCopyProductTreeDataChanged)="onselectedRoutingCopyProductTreeDataChanged($event)"></app-tree-view>


    <app-routingrulescopy></app-routingrulescopy>
