﻿
.text-color-blue {
    color: blue
}


.text-color-red {
    color: red
}

.ProductTitledisplay {
    margin-left: 20px;
}

.text-color-greed {
    color: green
}

.text-color-blue {
    color: blue
}

