﻿.form-free-text {
    border-radius: 2px !important;
    border: 1px solid #cecece !important;
    padding: 3px !important;
}

.btn .btn-default .btn-secondary {
    display: none !important;
}

.fa .fa-times {
    display: none !important;
}

.input-group-append {
    display: none !important;
}
