﻿<div class="container-fluid" #fakeClick>
    <ol class="breadcrumb breadcrumb-arrow col-md-2">
        <li class="nav-link active" ng-reflect-ng-class="nav-item"><a href="javascript:void(0)" class="breadcrumb-admin">RoutingRules</a></li>
    </ol>
    <div *ngIf="hideShowAlertMsg" [ngClass]="colorCode === 'success' ? 'alert-success' : 'alert-danger'" class="alert alert-dismissible fade in col-md-10">
        <strong>{{successMsg}}</strong>
    </div>
</div>

<div class="container-fluid" *ngIf="isActiveScreen">
    <!-- Filter Section -->
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo" role="tabpanel" aria-labelledby="headingTwo">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" data-parent="#accordion" href="#collapseHirearchy2" aria-expanded="false" aria-controls="collapseHirearchy2">
                        Search Section
                    </a>
                    <button name='btnViewResult' id='btnViewResult' class="btn btn-default btn-sm pull-right btn-mr" (click)="GetEmcFilterViewResult($event)" [disabled]="IsFilterViewResultBtnDisable">Search</button>
                    <button name='btnreset' id='btnreset' [disabled]="!IsFilterClearBtnDisable" class="btn btn-default btn-sm pull-right btn-mr" (click)="clearFilterData()">Clear</button>
                </h5>
            </div>
            <div id="collapseHirearchy2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Geography</label>
                            <div class="col-sm-6">
                                <!--<div class="col-sm-6">-->
                                <angular2-multiselect [data]="hierarchy_level" [(ngModel)]="selected_levelId" [settings]="singleSelectDropdownSettingsGeography" (onSelect)="onSelectLevelDD($event)">
                                </angular2-multiselect>
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Product/FHC/FGA</label>
                            <div class="col-sm-6 multiselect">                               
                                <angular2-multiselect [data]="hierarchy_Member"
                                                      [hidden]="searchFreeTextHide"
                                                      [(ngModel)]="selected_memberId"
                                                      [ngClass]="{'disabled': selected_levelId.length === 0}"
                                                      [settings]="singleSelectDropdownSettingsProduct"
                                                      (onSelect)="onSelectMember($event)"
                                                      (onDeSelect)="onSelectMember($event)"
                                                      (onSelectAll)="onSelectAllMember($event)"
                                                      (onDeSelectAll)="onSelectAllMember($event)">
                                </angular2-multiselect>


                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Channel</label>
                            <div class="col-sm-6">
                                <!--<div class="col-sm-6">-->
                                <angular2-multiselect [data]="hierarchy_level" [(ngModel)]="selected_levelId" [settings]="singleSelectDropdownSettingsChannel" (onSelect)="onSelectLevelDD($event)">
                                </angular2-multiselect>
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Account Name</label>
                            <div class="col-sm-6 multiselect">
                                <angular2-multiselect [data]="hierarchy_Member"
                                                      [hidden]="searchFreeTextHide"
                                                      [(ngModel)]="selected_memberId"
                                                      [ngClass]="{'disabled': selected_levelId.length === 0}"
                                                      [settings]="singleSelectDropdownSettingsAccountName"
                                                      (onSelect)="onSelectMember($event)"
                                                      (onDeSelect)="onSelectMember($event)"
                                                      (onSelectAll)="onSelectAllMember($event)"
                                                      (onDeSelectAll)="onSelectAllMember($event)">
                                </angular2-multiselect>


                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-4 form-label text-right">Supply Chain Type</label>
                            <div class="col-sm-6">
                                <!--<div class="col-sm-6">-->
                                <angular2-multiselect [data]="hierarchy_level" [(ngModel)]="selected_levelId" [settings]="singleSelectDropdownSettingsSupplyChain" (onSelect)="onSelectLevelDD($event)">
                                </angular2-multiselect>
                                <!--</div>-->
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grid Section -->
    <div class="panel-group">
        <div class="panel panel-primary ">
            <div class="panel-heading " role="tab" id="headingThree" role="tabpanel" aria-labelledby="headingThree">
                <h5 class="panel-title ">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseDepotGrid4">Grid Section</a>
                    <button name='btnresetName' id="btnResetName" class="btn btn-default btn-sm pull-right btn-mr " (click)="clearGridDataName($event) " [disabled]="!gridBtnClear ">Refresh</button>
                    <button name='btnExportExcelName' id="btnExportExcelName" class="btn btn-default btn-sm pull-right btn-mr " (click)="btnExportExcelName($event) " [disabled]="!gridBtnExcelExport ">Add</button>
                   
                </h5>
            </div>
            <div id="collapseDepotGrid4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body clear-padding ">
                    <div id="grid ">
                        <ag-grid-angular #agGrid style="height: 405px; "
                                         (filterChanged)='OnFilterChangeName($event)'
                                         (selectionChanged)='onSelectionChanged($event)'
                                         [suppressRowClickSelection]="true "
                                         [headerHeight]="headerHeight"
                                         class="ag-theme-blue "
                                         [gridOptions]="gridOptionsName"
                                         [columnDefs]="columnDefs"
                                         (bodyScroll)="OnBodyScroll"
                                         [rowData]="rowDataName"
                                         (cellEditingStarted)='oncellEditingStarted($event)'
                                         [enableSorting]="true "
                                         [enableFilter]="false "
                                         [debug]="true "
                                         [context]="contextName"
                                         [enableCellChangeFlash]="true "
                                         [components]="componentsName"
                                         [singleClickEdit]="true"
                                         [animateRows]="true"
                                         [rowSelection]="rowSelection "
                                         [enableColResize]="true "
                                         [paginationPageSize]="paginationPageSize "
                                         [floatingFilter]="true "
                                         [suppressCsvExport]="true "
                                         [pagination]="true " enableColResize
                                         enableSorting enableFilter rowHeight="22"
                                         rowSelection="multiple "
                                         (gridReady)="onGridReadyName($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Grid Section -->
    <div class="panel-group">
        <div class="panel panel-primary" *ngIf="isUserHavingWriteAccess">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" id="panel-DD" href="#collapseLTGrid2">Error Grid Section</a>
                    <button name='btnExportExcel' id="btnExportExcel" class="btn btn-default btn-sm pull-right btn-mr" (click)="btnerrExportExcel($event)" [disabled]="!griderrBtnExcelExport">Excel Export</button>
                </h5>
            </div>
            <div id="collapseLTGrid2" class="panel-collapse collapse">
                <div class="panel-body clear-padding">
                    <div id="grid">
                        <ag-grid-angular #agGrid style="height: 350px;" (selectionChanged)='onSelectionChanged($event)' [suppressRowClickSelection]="true" class="ag-theme-blue" [gridOptions]="errGridOptions" [columnDefs]="columnDefs"
                                         [headerHeight]="headerHeight" [rowData]="errRowData" (cellEditingStarted)='oncellEditingStarted($event)' [enableSorting]="true" [enableFilter]="false" [debug]="true" [getRowNodeId]="errgetRowNodeId" [enableCellChangeFlash]="true"
                                         [animateRows]="true" [rowSelection]="rowSelection" [enableColResize]="true" [paginationPageSize]="paginationPageSize" [showToolPanel]="true" [floatingFilter]="true" [suppressCsvExport]="true" [pagination]="true" enableColResize
                                         enableSorting enableFilter rowHeight="22" rowSelection="multiple" (gridReady)="onGridReadyError($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>